@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;500&display=swap");
/*#d38585; redish color */

body {
  background-color: #009fe8;
  background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
  font-family: "Spartan", sans-serif;
  color: white;
  width:100%;
  margin:0;
}
header{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  align-items: flex-end;

  
}
.hamburger-icon{
  height:40px;
  width:40px;
  margin-top:5px;
  margin-right:10px;
  position:relative;
  z-index:2
}


.nav{
  width:0px;
  background-color:white;
  height:100%;
  right:0px;
  transition: .5s width;
  z-index:1;
  position:absolute;
  overflow: hidden;
  height:100%;
  margin-top:-40px;
  right:0px;
  top:40px;
  position:absolute;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  
  
}
.visible-nav{
  width:200px;
  background-color:white;
  height:100%;
  margin-top:-40px;
  right:0px;
  top:40px;
  position:absolute;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  transition: .5s width;
}



.nav ul{
  list-style: none;
  color:#0b84ba;
  font-size:30px;

 
}

.nav ul li{
  margin-top:40px;

}

.nav ul li:hover{
  color:#d38585;
  cursor: pointer;
}

.name-title {
  text-align: center;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index:3;
  
  filter:none;
  
  
}
.name-title-blur{
  text-align: center;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index:3;
  
  filter:blur(4px);

}
h1 {
  font-size: 50px;
}
h2 {
  color: #acd385;
  margin-top: -35px;
}
.link-logos {
  height: 30px;
  width: 30px;
}
p {
  color: white;
  font-weight: 100;
}

#contact-button {
  height: 50px;
  margin-top: 30px;
  width: 120px;
  border: 5px double rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 5%;
  font-weight: bold;
background-color:#d38585;
  
}

/*#d38585;*/